body{
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
input,select,textarea{
    display: block;
    margin: 4px;
}
h2{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}
h4{
    margin: 8px 5px;
}
.inline{
    display: inline;
}
.container{
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    width: 600px;
    background: grey;
    opacity: 1;
}